/*icon*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    margin: 0;
    padding: 0;
}
.welImg {
    width: 100%;
}

.welcome {
    background-image: url("https://i.pinimg.com/564x/dd/ec/df/ddecdfb112e2f30dcf572620e4cd54b8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.welcome-decor {
    height: 20rem;
}
#welcomeText {
    margin-top: 4rem;
}
@media (max-width: 768px) {
    .welcome-decor {
        height: 15rem;
    }
    #welcomeText {
        margin-top: 2rem;
    }    
}


.search {
    margin-top: -25px;
}